<mat-card-content>
<mat-card>
<mat-card-title>Carnet</mat-card-title>
<form [formGroup]="ceduleFormGroup">
		<mat-form-field>
		<mat-label>Cedula</mat-label>
			 <input matInput type="text" formControlName="cedule"required>
			 <mat-error *ngIf="ceduleFormGroup.get('cedule')?.hasError('minlength')">
			  Cédula debe tener al menos 3 caracteres
			 </mat-error>

			 <!--<mat-error *ngIf="ceduleFormGroup.get('cedule')?.hasError('maxlength')">
			 Cédula no debe exceder los 8 caracteres
			 </mat-error>-->
			 <mat-error *ngIf="ceduleFormGroup.get('cedule')?.hasError('invalidNumber')">
			 Cédula debe ser númerico
			 </mat-error>
		</mat-form-field>

	 
		  <div *ngIf="frente">
		    <img [src]="frente" alt="Carnet" class="carnet-preview">
		    <img [src]="atras" alt="Carnet" class="carnet-preview">
		  </div>


		<mat-card-actions class="action-container">
			 @if(frente || atras){
	    	 
		    <button mat-raised-button type="submit" color="primary" (click)="download(ceduleFormGroup.get('cedule')?.value?? '')" matTooltip="Descargar"><mat-icon>
           download
       </mat-icon> </button>
			    <button mat-raised-button type="submit" color="primary" (click)="delete(ceduleFormGroup.get('cedule')?.value?? '')" matTooltip="Eliminar"><mat-icon>
           delete
       </mat-icon> </button>
			    <button mat-raised-button type="submit" color="primary" (click)="update(ceduleFormGroup.get('cedule')?.value?? '')" matTooltip="Actualizar"><mat-icon>
           update
       </mat-icon> </button>
	    }
		    <button mat-raised-button type="submit" color="primary" (click)="onSubmit()" matTooltip="Buscar"><mat-icon>
           search
       </mat-icon> </button>
		</mat-card-actions>
 </form>

</mat-card>
</mat-card-content>

